.carousel .slide img {
  height: 420px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.carousel.carousel-slider {
  border-radius: 20px;
}

.carousel .control-dots {
  bottom: 15px;
}

.carousel .control-dots .dot {
  width: 12px;
  height: 12px;
  background: white !important;
  opacity: 0.8;
}

.carousel .control-dots .dot.selected {
  background: #facc15 !important;
}

.carousel .control-arrow {
  display: none;
}